@model TablePaginationViewModel
@using RestaurantMenuProject.Common
<link href="~/css/manageTables.css" rel="stylesheet" />

<div class="buttons">
    <form class="refreshCodes" asp-controller="Manage" asp-action="RefreshTables" method="post">
        <button class="btn btn-success">Refresh table codes</button>
    </form>
    <form class="addTable" asp-controller="Manage" asp-action="AddTable" method="get">
        <button class="btn btn-info">Add Table</button>
    </form>
</div>
<table id="table" class="table table-striped table-bordered table-hover" style="width:100%">
    <thead>
        <tr>
            <th class="th-sm" >
                Number
            </th>
            <th class="th-sm">
                Capacity
            </th>
            <th class="th-sm">
                Code
            </th>
            <th class="th-sm">
                Date created
            </th>
            <th class="th-sm">
                Date generated
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Tables)
        {
            <tr>
                <th>
                    @item.Number
                </th>
                <th>
                    @item.Capacity
                </th>
                <th>
                    @item.Code
                </th>
                <th>
                    @item.DateCreated.ToLocalTime()
                </th>
                <th>
                    @(item.DateGenerated != null ? ((DateTime)item.DateGenerated).ToLocalTime() : item.DateCreated.ToLocalTime())
                </th>
                <th>
                    <form asp-controller="Manage" asp-action="EditTable" method="get">
                        <input name="id" value="@item.Id" hidden />
                        <button class="btn btn-info">Edit</button>
                    </form>
                </th>
            </tr>
        }
    </tbody>
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item @if (!Model.HasPreviousPage) { <text>disabled</text> }">
            <a class="page-link" asp-action="Tables" asp-route-id="@(Model.PreviousPageNumber)">Previous</a>
        </li>
        @for (int i = Model.Page - 3; i < Model.Page; i++)
        {
            if (i > 0)
            {
                <li class="page-item"><a class="page-link" asp-action="Tables" asp-route-id="@i">@i</a></li>
            }
        }
        <li class="page-item active"><a class="page-link" href="#">@Model.Page</a></li>

        @for (int i = Model.Page + 1; i <= Model.Page + 3; i++)
        {
            if (i <= Model.PagesCount)
            {
                <li class="page-item"><a class="page-link" asp-action="Tables" asp-route-id="@i">@i</a></li>
            }
        }

        <li class="page-item @if (!Model.HasNextPage) { <text>disabled</text> }"><a class="page-link" asp-action="Tables" asp-route-id="@(Model.NextPageNumber)">Next</a></li>
    </ul>
</nav>

