@model ICollection<DrinkItemViewModel>

<link rel="stylesheet" runat="server" media="screen" href="~/css/menu.css" />
<h1>This is the Food menu!</h1>
<ul id="menu" class="row">
    @foreach (var item in Model)
    {
        <li id="@item.Id" onclick="window.location = '/Menu/Drinks/@item.Name/@item.Id';e.stopPropagation();" class="col-md-5 h-100">
            <div id="@item.Id" class="bg"></div>
            <h1>@item.Name</h1>
            <br />
            <br />
            <span class="left gray-bg">@item.Weight grams</span>
            <span class="right gray-bg">@item.Price$</span>

            @*TODO make it actually work and add it to a basket (probably in browser memory)*@
            <form class="right" method="post">
                <input type="hidden" name="Id" value="@item.Id" />
                <input type="text" style="width: 50px" placeholder="Count" />
                <button type="submit" class="btn btn-success">Add</button>
            </form>
            <br />
            <br />
        </li>
    }
</ul>
@* TODO move the scripts and styles to another file*@
<style>
    .right {
        float: right;
    }

    .gray-bg {
        background-color: gainsboro;
        border: 1px solid black;
        line-height: 35px;
    }
</style>


@section Scripts
{
    <script>
        $('ul li div').each(function (i) {
            var controllerName = '@ViewContext.RouteData.Values["Controller"].ToString()';
            var dishType = '@ViewContext.RouteData.Values["Type"].ToString()';
            $(this).css('background-image', 'url(/img/Drinks/' + dishType + '/' + this.id + ".jpg)");
        });

        $("li form").click(function (e) {
            e.stopPropagation();
        });
    </script>
}