@model ICollection<DrinkItemViewModel>
@using RestaurantMenuProject.Common

<link rel="stylesheet" runat="server" media="screen" href="~/css/menu.css" />
<link href="~/css/displayFoodItem.css" rel="stylesheet" />
<ul id="menu" class="row">
    @foreach (var item in Model)
    {
        <li id="@item.Id" onclick="window.location = '/Menu/Drinks/@item.Name/@item.Id';" class="col-md-5 menuItem">
            <h1 class="title">@item.Name</h1>
            <div id="@item.Id" class="bg h-100 col-md-12" style="background-image: url(/img/Drinks/@(item.Image.Id).@(item.Image.Extension))"></div>
            <div class="float-left">
                <span id="weight" class="left gray-bg">@item.Weight mililitres</span>
            </div>
            <div class="float-right col-md-5">
                <span id="price" class="float-right right gray-bg">@item.Price$</span>
                @if (this.User.Identity.IsAuthenticated)
                {
                    <form method="post">
                        <input type="hidden" name="Id" value="@item.Id" />
                        <input type="hidden" name="Type" value="Drink" />
                        <input id="count" type="text" name="Count" class="right" placeholder="Count" />
                        <button type="button" class="btn btn-success right add">Add</button>
                    </form>
                }
            </div>
            @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
            {
                <form asp-controller="Manage" asp-action="EditDrink" method="get">
                    <input type="hidden" name="type" value="Drink" />
                    <input type="hidden" name="id" value="@item.Id" />
                    <button type="submit" class="btn btn-info edit">Edit</button>
                </form>
            }
        </li>
    }
</ul>


@section Scripts
{
    <script src="~/js/addToBasket.js"></script>
}