@model DrinkItemViewModel
<link href="~/css/displayFood.css" rel="stylesheet" />

<div id="@Model.Id" class="bg" style="background-image: url(/img/Drinks/@(Model.Image.Id).@(Model.Image.Extension))">
    <h1 class="foodName title">@Model.Name</h1>
    <br />
    <br />
    <span class="left gray-bg weigth">@Model.Weight grams</span>
    <span class="right gray-bg price">@Model.Price$</span>
    @if (this.User.Identity.IsAuthenticated)
    {
<form class="right" method="post">
    <input type="hidden" name="Id" value="@Model.Id" />
    <input type="hidden" name="Type" value="Drink" />
    <input id="count" name="Count" type="text" style="width: 50px" placeholder="Count" />
    <button type="button" class="btn btn-success add">Add</button>
</form>}
</div>
<h1>@Model.AdditionalInfo</h1>
<span>Ingredients: @string.Join(", ", Model.Ingredients.Select(x => x.Name))</span>
<br />
<span>
    Allergens: @{ var allergens = new List<AllergenViewModel>();
        foreach (var ingr in Model.Ingredients)
        {
            allergens.AddRange(ingr.Allergens);
        }
@string.Join(", ", allergens.Select(x => x.Name)); }
</span>


@section Scripts
{
    <script src="~/js/addToBasket.js"></script>

}