@model DrinkItemViewModel

<link rel="stylesheet" runat="server" media="screen" href="~/css/menu.css" />
<div id="@Model.Id" class="bg">
    <h1 class="foodName">@Model.Name</h1>
    <br />
    <br />
    <span class="left gray-bg">@Model.Weight grams</span>
    <span class="right gray-bg">@Model.Price$</span>

    @*TODO make it actually work and add it to a basket (probably in browser memory)*@
    <form class="right">
        <input type="hidden" name="Id" value="@Model.Id" />
        <input type="text" style="width: 50px" placeholder="Count" />
        <button type="submit" class="btn btn-success">Add</button>
    </form>
</div>
<h1>@Model.AdditionalInfo</h1>
<span>Ingredients: @string.Join(", ", Model.Ingredients.Select(x => x.Name))</span>
<br />
<span>
    Allergens: @{
        var allergens = new List<AllergenViewModel>();
        foreach (var ingr in Model.Ingredients)
        {
            allergens.AddRange(ingr.Allergens);
        }
        @string.Join(", ", allergens.Select(x => x.Name));
    }
</span>

@* TODO move the styles and scripts in different files*@
<style>
    .bg {
        height: 700px;
        background-size: 1100px;
        background-repeat: no-repeat;
        border: 5px solid turquoise;
        border-radius: 3%;
        background-image: url("/img/Drinks/@Model.DrinkType.Name/@(Model.Id).jpg");
    }

    .right {
        margin-top: 48%;
        float: right;
        margin-right: 1%;
    }

    .gray-bg {
        background-color: gainsboro;
        border: 1px solid black;
        line-height: 35px;
    }

    .left {
        margin-top: 45%;
        display:inline-block;
        margin-left: 3%;
    }

    .foodName {
        background-color: turquoise;
        text-align: -webkit-center;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
</style>


@section Scripts
{
    <script>
        $("li form").click(function (e) {
            // Do something
            e.stopPropagation();
        });
    </script>
}