@model ICollection<FoodItemViewModel>
    <link href="~/css/displayFoodItem.css" rel="stylesheet" />
<link rel="stylesheet" runat="server" media="screen" href="~/css/menu.css" />
<ul id="menu" class="row">
    @foreach (var item in Model)
    {
    <li id="@item.Id" onclick="window.location = '/Menu/@item.Name/@item.Id'" class="col-md-5 menuItem">
        <h1>@item.Name</h1>
        <div id="@item.Id" class="bg h-100 col-md-12"></div>
        <div class="float-left">
            <span id="weight" class="left gray-bg">@item.Weight grams</span>
        </div>
        <div class="float-right col-md-5">
            <span id="price" class="float-right right gray-bg">@item.Price$</span>
            <form>
                <input type="hidden" name="Id" value="@item.Id" />
                <input id="count" type="text" class="right" placeholder="Count" />
                <button id="add" type="submit" class="btn btn-success right">Add</button>
            </form>
        </div>
        @*TODO make it actually work and add it to a basket (probably in browser memory)*@
    </li>
    }
</ul>
@* TODO move the scripts and styles to another file*@


@section Scripts
{
    <script>
        $('.bg').each(function (i) {
            var controllerName = '@ViewContext.RouteData.Values["Controller"].ToString()';
            var dishType = '@ViewContext.RouteData.Values["Type"].ToString()';
            $(this).css('background-image', 'url(/img/' + controllerName + '/' + dishType + '/' + this.id + ".jpg)");
        });
        $("li form").click(function (e) {
            // Do something
            e.stopPropagation();
        });
    </script>
}