@model List<MenuItemViewModel>
<link rel="stylesheet" runat="server" media="screen" href="~/css/menu.css" />
<h1>This is the drinks menu!</h1>
<ul id="menu" class="row">
    @foreach (var item in Model)
    {
        <li id="@item.Name" onclick="window.location = '/Menu/Drinks/@item.Name'" class="col-md-5 h-100">
            <div id="@item.Name" class="bg"></div>
            <h1>@item.Name</h1>
            <br />
            <br />
            <span>@item.Description</span>
            <br />
            <br />
        </li>
    }
</ul>


@section Scripts
{
<script>
        $('ul li div').each(function (i) {
        var controllerName = '@ViewContext.RouteData.Values["Action"].ToString()';
        $(this).css('background-image', 'url(/img/' + controllerName +'/' + this.id + ".jpg)");
        });
</script>
}