@model List<MenuItemViewModel>
<link href="~/css/menu.css" rel="stylesheet" />
<ul id="menu" class="row">
    <li id="Drinks" onclick="window.location = '/Menu/Drinks'" class="col-md-5 h-100">
        <div id="Drinks" class="bg"></div>
        <h1>Drinks</h1>
        <br />
        <br />
        <span>All the drinks you need, both alcoholic and non alchoholic beverages!</span>
        <br />
    </li>
    @foreach (var item in Model)
    {
        <li id="@item.Name" onclick="window.location = '/Menu/@item.Name'" class="col-md-5 h-100">
            <div id="@item.Name" class="bg"></div>
            <h1>@item.Name</h1>
            <br />
            <br />
            <span>@item.Description</span>
            <br />
            <br />
        </li>
    }
</ul>

<style>
    ul li span{
        font-weight: 700;
        color: midnightblue;
    }
</style>

@*Adding the background image!*@
@section Scripts
{
    <script language="javascript" type="text/javascript" src="/js/menuBackground.js"></script>
    <script>
    var controllerName = '@ViewContext.RouteData.Values["Controller"].ToString()';
    addBackgroundImage(controllerName);
    </script>
}