@model BasketViewModel

<link href="~/css/basketIndex.css" rel="stylesheet" />

<table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col" style="width: 150px">Image</th>
            <th scope="col">Name</th>
            <th scope="col" style="width: 100px;">Quantity</th>
            <th scope="col" style="width: 150px;">Price for one</th>
            <th scope="col" style="width: 150px">Total price</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Foods)
        {
        <tr data-id="@item.Id" data-type="@item.FoodType.ToString()">
            <td>
                @{
                    var foodFolder = item.FoodType.ToString().ToLower() == "drink" ? "Drinks" : "Dishes";
                    <img src="~/img/@(foodFolder)/@(item.Image.Id).@(item.Image.Extension) " class="img-fluid" />
                }
            </td>
            <td class="name" style="vertical-align: middle;">@item.Name</td>
            <td class="quantity" style="vertical-align: middle;">@item.Quantity</td>
            <td class="price" style="vertical-align: middle;">@(item.Price.ToString("0.00"))$</td>
            <td class="totalPrice" style="vertical-align: middle;">@((item.Price*item.Quantity).ToString("0.00"))$</td>
            <td style="width: 17%">
                <form method="post" class="hide">
                </form>
                <button type="button" class="btn btn-success add">➕</button>
                <button type="button" class="btn btn-primary remove">➖</button>
                <button type="button" class="btn btn-danger removeAll">&#10060;</button>
            </td>
        </tr>
        }

        @if (Model.Foods.Any())
        {
    <tr>
        <td class="borderless-cell" colspan="3">
            <form method="post">
                @if (Model.PromoCode.Code == null)
                {
                    <input name="tableCode" placeholder="Promo code" />
                    <button type="submit" class="btn btn-dark addPromoCode">Add</button>
                }
            </form>
            @if (Model.PromoCode.Code != null)
            {
                <span class="promoCode">Promo code used - @(Model.PromoCode.Code). It expires on @Model.PromoCode.ExpirationDate!</span>
                <button class="btn btn-danger removeCode">Remove</button>
            }


        </td>
        <td class="borderless-cell" style="text-align: right;" colspan="2">
            Total price:
            <span class="price"></span>
        </td>
        <td class="borderless-cell">
            <form method="post" asp-controller="Order" asp-action="MakeOrder">
                <input class="tableCode" name="tableCode" placeholder="Table code" />
                <button type="submit" class="btn btn-info order">ORDER</button>
            </form>
        </td>
    </tr>
        }
        else
        {
            <tr>
                <td colspan="75%">
                    The basket is empty! Add some items by going to the menu page.
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script src="~/js/notifications.js"></script>
    <script src="~/js/basket.js"></script>
}