@model ICollection<FoodItemViewModel>

<link href="~/css/basketIndex.css" rel="stylesheet" />

<table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price for one</th>
            <th scope="col">Total price</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr data-id="@item.Id" data-type="@item.FoodType.ToString()">
                <td>
                    @{
                        var foodFolder = item.FoodType.ToString().ToLower() == "drink" ? "Drinks" : "Dishes";
                        <img src="~/img/@(foodFolder)/@(item.Image.Id).@(item.Image.Extension) " class="img-fluid" />

                    }
                </td>
                <td class="name">@item.Name</td>
                <td class="quantity">@item.Quantity</td>
                <td class="price">@(item.Price)$</td>
                <td class="totalPrice">@(item.Price*item.Quantity)$</td>
                <td style="width: 17%">
                    <form method="post" class="hide">
                    </form>
                    <button type="button" class="btn btn-success add">➕</button>
                    <button type="button" class="btn btn-primary remove">➖</button>
                    <button type="button" class="btn btn-danger removeAll">&#10060;</button>
                </td>
            </tr>
        }

        @if (Model.Any())
        {
        <tr>
            <td class="borderless-cell"></td>
            <td class="borderless-cell"></td>
            <td class="borderless-cell"></td>
            <td class="borderless-cell"></td>
            <td class="borderless-cell">
                <span class="price">
                </span>
            </td>
            <td class="borderless-cell">
                <form method="post" asp-controller="Order" asp-action="MakeOrder">
                    <input name="tableCode" placeholder="Table code"/>
                    <button type="submit" class="btn btn-info">ORDER</button>
                </form>
            </td>
        </tr>
        }
        else
        {
            <tr>
                <td colspan="75%">
                    The basket is empty! Add some items by going to the menu page.
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script src="~/js/notifications.js"></script>
    <script src="~/js/basket.js"></script>
}