@model OrderInfoViewModel

<style>
    img {
        width: 50px;
    }
</style>

<h3>Information about order: @Model.Id</h3>

<h4>Date created: @Model.CreatedOn.ToLocalTime().ToString("dd/MM/yyyy HH:mm:ss")</h4>

<h4>Process type: @Model.ProcessType</h4>

<h4>Promo code used: @if (Model.PromoCode != null)
{ @Model.PromoCode.Code }
else { <text>none</text> }</h4>

<h4>The order @if (Model.PaidOn != null)
{
    @Model.PaidOn?.ToLocalTime().ToString("dd/MM/yyyy HH:mm:ss")
}
else {
    <text> has not been paid.</text>
}</h4>

<table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price for one</th>
            <th scope="col">Total price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.FoodItems)
        {
        <tr data-id="@item.Id" data-type="@item.FoodType.ToString()">
            <td>
                @{
                        var foodFolder = item.FoodType.ToString().ToLower() == "drink" ? "Drinks" : "Dishes";
                    <img src="~/img/@(foodFolder)/@(item.Image.Id).@(item.Image.Extension) " class="img-fluid" />

                }
            </td>
            <td class="name">@item.Name</td>
            <td class="quantity">@item.Quantity</td>
            <td class="price">@(item.Price)$</td>
            <td class="totalPrice">@(item.Price*item.Quantity)$</td>
        </tr>
        }

        
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <span class="price">
                    @Model.FoodItems.Sum(x => x.Price*x.Quantity).ToString("0.00")$
                </span>
            </td>
        </tr>
    </tbody>
</table>